@font-face {
    font-family: Sweetest Cat Ever;
    src: url(assets/Sweetest\ Cat\ Ever.ttf);
}

@font-face {
    font-family: LiberationSans;
    src: url(assets/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: Realistic Nature;
    src: url(assets/Realistic\ Nature.otf);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(255, 249, 239, 1);
    margin: 0;
    font-family: LiberationSans, sans;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(111, 150, 209, 1);
}

.navbar {
    border-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(111, 150, 209, 1);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    margin-top: 15px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo img {
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    width: auto;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    font-family: Sweetest Cat Ever;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
}

.nav-links a:hover {
    color: rgba(0, 45, 163, 1);
}

.nav-right a {
    margin-left: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.name-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(42, 35, 107);
    display: flex;
}


.name-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.intro {
    font-family: Sweetest Cat Ever;
    font-size: 45px;
    color: rgb(11, 41, 122);
    text-shadow: 0 0 2px #000000;
    padding-left: 10px
}

.sub-intro {
    font-size: 1.2rem;
    color: #333;
    margin-top: 0.5rem;
}

.page-break {
    font-size: 30px;
    color: rgb(11, 41, 122);
    padding-top: 30px;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.sub-work {
    font-family: Realistic Nature;
    font-size: 50px;
    color: #333;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.work-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
    width: 650px;
    height: auto;
    padding: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(42, 35, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.work-intro {
    font-family: Sweetest Cat Ever;
    font-size: 70px;
    text-align: center;
    color: rgb(11, 41, 122);
    text-shadow: 0 0 2px #000000;
}

.work-container img {
    max-width: 600px;
    height: auto;
    border-radius: 5px;
    padding-bottom: 15px;
}

.footer-text {
    font-size: 15px;
    text-align: center;
}

.game-links {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(111, 150, 209, 1);
    border-radius: 5px;
    text-decoration: none;
}

.desc {
    color: #333;
    font-size: 25px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    text-align: center;
}